.SearchComponent {
  margin-top: 6px;
}
.Search__open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  padding: 40px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9;
}
.Search__open > .SearchOpen__Search {
  position: relative;
  width: 100%;
}
.Search__open > .SearchOpen__Search .Search__input {
  width: 100%;
  padding: 10px 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
}
.Search__open > .SearchOpen__Search > .Search__icon--search {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}
/* SEARCH RESULT */
.Search__result {
}
@media screen and (max-width: 1024px) {
  .Search__open {
    padding: 40px 10px;
  }
  .Search__open > .SearchOpen__Search .Search__input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 4px;
    outline: none;
  }
  .SearchOpen__logo {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .Search__open > .SearchOpen__Search {
    width: 50%;
  }
}
