.ControllerBar {
  width: 350px;
  height: 100vh;
}
.Controller__menu--large__device {
  display: flex;
  flex-direction: column;
}
.ControlBar__menu {
  background-color: black !important;
}
.ControlBar__menu .ant-menu-inline {
  background-color: black !important;
}
