.ControllerBar {
  z-index: 2;
  position: absolute;
  width: 30%;
}
.Controller__menu--large__device {
  display: flex;
  flex-direction: column;
}
.ControlBar__menu {
  background-color: black !important;
}
.ControlBar__menu .ant-menu-inline {
  background-color: black !important;
}
.Controller__menu--large__device {
  display: none;
}
@media screen and (min-width: 1024px) {
  .Controller__menu--small__device {
    display: none;
  }
  .Controller__menu--large__device {
    display: block;
  }
  .ControllerBar {
    position: relative;
  }
}
