.FileItem {
  width: 100px;
  height: 100px;
  position: relative;
}
.icon--RemoveImg {
  position: absolute;
  right: 0;
  transition: 0.3s ease;
  opacity: 0.3;
  font-size: 20px;
}
.icon--RemoveImg:hover {
  transform: scale(1.2);
  opacity: 1;
}
