.Header {
  padding: 8px 0;
}
.Header > section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu__Overlay {
  display: flex;
  background-color: red;
  padding: 25px;
}
.Menu__Overlay > .Menu__item {
  margin: 0 10px;
}
.Header__menu--large__device > a {
  margin: 0 10px;
}
.Header__menu--large__device {
  text-align: center;
  flex: 1;
}
.Header__actions {
  display: flex;
  align-items: center;
}
.Action__Search {
  width: 100%;
}
/* SMALL DEVICE */
.Header__menu--small__device {
  position: relative;
}
.Header__menu--small__device > .icon__Cart {
  padding: 0 10px;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 1024px) {
  .Header__menu--large__device {
    display: none;
  }
  .Header__menu--small__device {
    display: flex;
    align-items: center;
  }
  .Header__actions {
    /* flex: 1; */
  }
}
@media screen and (min-width: 1024px) {
  .Header__menu--large__device {
    display: block;
  }
  .Header__menu--small__device {
    display: none;
  }
}
