body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 1024px) {
  section {
    padding: 0 20px;
  }
}
.icons {
  display: block;
}
svg {
  font-size: 35px;
  cursor: pointer;
}
.Search__icon--search > svg {
  font-size: 30px;
}
.LOGO {
  font-size: 20px;
  font-weight: 700;
}
.LOGO__STYLE {
  display: none;
  font-size: 10px;
  color: #313552;
  /* opacity: 0.9; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}
.btn {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: white;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input {
  outline: none;
  border: 1px solid black;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}
@media screen and (min-width: 1024px) {
  section {
    padding: 0 50px;
  }
  .LOGO {
    font-size: 30px;
  }
  .LOGO__STYLE {
    display: inline;
  }
  svg {
    font-size: 20px;
    cursor: pointer;
  }
}
.Ahihi {
  display: flex;
  flex-wrap: wrap;
}
.checkboxStyle {
  display: inline-block;
  width: 80px;
  max-width: 100px;
  border: 1px solid black;
  margin: 2px !important;
  padding: 2px !important;
  border-radius: 4px;
}
.Spin {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.ant-upload-list {
}
.Link {
  color: blue;
}
